# Supabase PostgreSQL connection
DATABASE_URL="postgresql://postgres.xxmbpjcvpfyyharvtdtx:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection used by Prisma migrations
DIRECT_URL="postgresql://postgres.xxmbpjcvpfyyharvtdtx:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

AUTH_SECRET="generate-a-long-random-secret"